body {
    background: #EDF1F5;
  }
  
  @keyframes waves-animation{
    0% {
      opacity: 0.05;
    }
    50% {
      opacity: 0.65;
    }
    100% {
      opacity: 0.05;
    }
  }
  
  .w-01 {
    animation-name: waves-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  .w-02 {
    animation-name: waves-animation;
    animation-duration: 2s;
    animation-delay: 0.25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  .w-03 {
    animation-name: waves-animation;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}