<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
    <!-- <link rel="stylesheet" href="../style/live.css"> -->
    <title>{% block title %}Home{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        {% if user.is_authenticated %}
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-item nav-link" id="home" href="/">Notes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" id="Fight_card" href="/Fight_card">Fight card</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" id="Tournament_bracket" href="/Tournament_bracket">Tournament bracket</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" id="Live" href="/Live">Live</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" id="organizational_chart" href="/organizational_chart">organizational_chart</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="/"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <style>
            .logo-image {
                width: 46px;
                height: 46px;
                border-radius: 20%;
                overflow: hidden;
                margin-top: 0px;
            }
        </style>
        <!-- <a class="navbar-brand mx-auto" href="/">
              <img src="../img/SMMAF_logo.jpg" alt="Logo">
            </a> -->
        <a class="navbar-brand mx-auto" href="/">
            <div class="logo-image">
                <img src="https://pbs.twimg.com/profile_images/1343770141482487808/MiNiD3nf_400x400.jpg" class="img-fluid">
            </div>
        </a>
        </div>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-item nav-link" id="logout" href="/logout">LogOut</a>
                </li>
            </ul>
        </div>
        {% else %}
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-item nav-link" id="home" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" id="Fight_card" href="/Fight_card">Fight card</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" id="Tournament_bracket" href="/Tournament_bracket">Tournament bracket</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" id="Live" href="/Live">Live</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
          <span class="navbar-toggler-icon"></span>
        </button>
        </div>
        <style>
            .logo-image {
                width: 46px;
                height: 46px;
                border-radius: 20%;
                overflow: hidden;
                margin-top: 0px;
            }
        </style>
        <!-- <a class="navbar-brand mx-auto" href="/">
            <img src="../img/SMMAF_logo.jpg" alt="Logo">
          </a> -->
        <a class="navbar-brand mx-auto" href="/">
            <div class="logo-image">
                <img src="https://pbs.twimg.com/profile_images/1343770141482487808/MiNiD3nf_400x400.jpg" class="img-fluid">
            </div>
        </a>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-item nav-link" id="login" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
                </li>
            </ul>
        </div>
        {% endif %}
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %} {% if category == 'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div class="container">{% block content %} {% endblock %}</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>